.App {
    max-width: 600px;
    margin: 0 auto;
}
.App footer {
    text-align: center;
}


.midnight {
    background: #0f0c29;  
    background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
    background: linear-gradient(to right, #24243e, #302b63, #0f0c29); 
    color: #8292BE;
}
.evening {
    background: #1a2a6c; 
    background: -webkit-linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 
    background: linear-gradient(to right, #fdbb2d, #b21f1f, #1a2a6c); 

    color: #e6cad9;
}
.afternoon {
    background: #f79d00;
    background: -webkit-linear-gradient(to left, #64f38c, #f79d00);
    background: linear-gradient(to left, #64f38c, #f79d00);
    color: rgb(228, 102, 0);
}
.dayTime {
    background: #c2e59c;  
    background: -webkit-linear-gradient(to left, #64b3f4, #c2e59c); 
    background: linear-gradient(to left, #64b3f4, #c2e59c); 

    color: #b1efff;
}
.morning {
    background: #F3904F;  
    background: -webkit-linear-gradient(to left, #3B4371, #F3904F);  
    background: linear-gradient(to left, #3B4371, #F3904F); 

    color: rgb(75, 43, 117);
}

