.App {
    max-width: 600px;
    margin: 0 auto;
}
.App footer {
    text-align: center;
}


.midnight {
    background: #0f0c29;  
    
    color: #8292BE;
}
.evening {
    background: #1a2a6c; 
    

    color: #e6cad9;
}
.afternoon {
    background: #f79d00;
    
    color: rgb(100, 45, 0);
}
.dayTime {
    background: #c2e59c;  
    

    color: #03303b;
}
.morning {
    background: #F3904F;  
    

    color: rgb(31, 0, 71);
}

